WEEK-2

data preprocessing

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, StandardScaler,OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.feature_selection import chi2
from sklearn.feature_selection import f_classif
from sklearn.preprocessing import StandardScaler
from sklearn import metrics
from sklearn.metrics import accuracy_score, confusion_matrix, recall_score, precision_score, f1_score, auc
from sklearn.metrics import classification_report, confusion_matrix

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score

In [2]:
data = pd.read_csv('train.csv')

In [3]:
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,1
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,1
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,1
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,1
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,1

In [4]:
#Because there is no year information that some months have more data than the others 
#so it is going to make the data bias. We are going to drop month and day 
data.drop(['contact','day','month'],axis=1,inplace=True)

Replacing yes and no with 1's and 0's

In [5]:
for col in ['default', 'housing', 'loan']:
    data[col].replace(['yes', 'no'], [1, 0], inplace=True)

In [6]:
X = data.iloc[:, :-1]
y = data.iloc[:, -1]

In [7]:
X.head()

,age,job,marital,education,default,balance,housing,loan,duration,campaign,pdays,previous,poutcome
0,58,management,married,tertiary,0,2143,1,0,261,1,-1,0,unknown
1,44,technician,single,secondary,0,29,1,0,151,1,-1,0,unknown
2,33,entrepreneur,married,secondary,0,2,1,1,76,1,-1,0,unknown
3,47,blue-collar,married,unknown,0,1506,1,0,92,1,-1,0,unknown
4,33,unknown,single,unknown,0,1,0,0,198,1,-1,0,unknown

In [8]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: y, dtype: int64

In [9]:
# X['education'].replace([1, 2, 3, 0],['primary', 'secondary', 'tertiary', 'unknown'] , inplace=True)

In [10]:
# create a list of the categorical variables to be one-hot encoded
cat_vars = ['job', 'marital', 'education']

# create a OneHotEncoder object
encoder = OneHotEncoder(handle_unknown='ignore')

X[cat_vars] = X[cat_vars].astype('category') # cast to str first
encoded = encoder.fit_transform(X[cat_vars])

# create a new DataFrame with the encoded features
df_encoded = pd.concat([X.drop(cat_vars, axis=1), pd.DataFrame(encoded.toarray())], axis=1)

# print the first few rows of the encoded DataFrame
print(df_encoded.head())

ValueError: could not convert string to float: 'secondary'

In [ ]:
le = LabelEncoder()
X['job'] = le.fit_transform(X['job'])
X['marital'] = le.fit_transform(X['marital'])
X['poutcome'] = le.fit_transform(X['poutcome'])

In [ ]:
y.head()

In [ ]:
scaler = StandardScaler()
cols = ['age', 'job', 'education', 'default', 'balance', 'housing', 'loan', 'duration', 'campaign', 'pdays', 'previous']
X = pd.DataFrame(scaler.fit_transform(X[cols]))

In [ ]:
# X = data.iloc[:, :-1]

# # y will contain only the last column
# y = data.iloc[:, -1]
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
x_train.shape

In [ ]:
x_test.shape

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB

In [ ]:
models = []
models.append(LogisticRegression(solver='liblinear'))
models.append(SVC())
models.append(KNeighborsClassifier())
models.append(DecisionTreeClassifier())
models.append(RandomForestClassifier())
models.append(GaussianNB())
model_list = ['Logistic Regression', 'SVM', 'KNN', 'Decision Tree', 'Random Forest', 'Naive Bayes']

In [ ]:
acc_list = []
auc_list = []
cm_list = []

In [ ]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(n_estimators=500, random_state=42,class_weight="balanced")
print(x_train.shape,x_test.shape)
rf.fit(x_train, y_train)
Y_pred = rf.predict(x_test)

In [ ]:
print(Y_pred)
#print(y_train)
# print(x_train)

In [ ]:
print(type(Y_pred[0]))
print(type(y_test.values[0]))
print(confusion_matrix(y_test, Y_pred))

print(y_test.value_counts())

In [ ]:
fpr, tpr, _thresholds = metrics.roc_curve(y_test, Y_pred,pos_label=2)

In [ ]:
print(classification_report(y_test, Y_pred))

In [ ]:
for model in models:
    model.fit(x_train, y_train)
    Y_pred = model.predict(x_test)
    acc_list.append(metrics.accuracy_score(y_test, Y_pred))
    fpr, tpr, _thresholds = metrics.roc_curve(y_test, Y_pred,pos_label=2)
    auc_list.append(round(metrics.auc(fpr, tpr),2))
    cm_list.append(confusion_matrix(y_test, Y_pred))

In [ ]:
# Accuracy and AUC
result_df = pd.DataFrame({'Model':model_list, 'Accuracy': acc_list, 'AUC': auc_list})
result_df

In [ ]:
for i in range(-1,11): 
    if i<5:
        continue
    else:
        break
    print('X')

In [ ]:
data = pd.read_csv('Employee_data.csv')
 
# Converting type of columns to category
data['Gender']=data['Gender'].astype('category')
data['Remarks']=data['Remarks'].astype('category')
 
 
#Assigning numerical values and storing it in another columns
data['Gen_new']=data['Gender'].cat.codes
data['Rem_new']=data['Remarks'].cat.codes
 
 
#Create an instance of One-hot-encoder
enc=OneHotEncoder()
 
#Passing encoded columns
'''
NOTE: we have converted the enc.fit_transform() method to array because the fit_transform method
of OneHotEncoder returns SpiPy sparse matrix this enables us to save space when we
have huge  number of categorical variables
'''
enc_data=pd.DataFrame(enc.fit_transform(data[['Gen_new','Rem_new']]).toarray())
 
#Merge with main
New_df=data.join(enc_data)
 
print(New_df)